//*************************************************************************
// ADOBE CONFIDENTIAL
// ___________________
//
//  Copyright 2015 Adobe Systems Incorporated
//  All Rights Reserved.
//
// NOTICE:  All information contained herein is, and remains
// the property of Adobe Systems Incorporated and its suppliers,
// if any.  The intellectual and technical concepts contained
// herein are proprietary to Adobe Systems Incorporated and its
// suppliers and are protected by trade secret or copyright law.
// Dissemination of this information or reproduction of this material
// is strictly forbidden unless prior written permission is obtained
// from Adobe Systems Incorporated.
//**************************************************************************

ADEPT_RMSDK = $(SRCROOT)/../../../adobe-rmsdk

UFT_DEFINITIONS = UFT_MEMORY_DEBUG=0 UFT_ATOM_COMPILE_TIME USING_MAC_SDK_VERSION_10_5_OR_ABOVE

CONNECTOR_DEFINITIONS = FEATURE_DRM_CONNECTOR

LIBCURL_HEADER_SEARCH_PATH64 =  $(ADEPT_RMSDK)/thirdparty/curl/public/ios/Include-64
LIBCURL_HEADER_SEARCH_PATH32 =  $(ADEPT_RMSDK)/thirdparty/curl/public/ios/Include-32

ADEPT_CONNECTOR_LIB_FLAGS = -lhobbes-iOS -lcts-iOS -lt3-iOS -ldatacollector-iOS -lpng-iOS -lfonts-iOS -lhyphen-iOS -ladept-iOS -lcrypt-openssl-iOS -ldp-iOS -lexpat-iOS -lxml-iOS -lzlib-iOS -lssl -lcrypto -lcurl

ADEPT_CONNECTOR_LIBRARY_SEARCH_PATHS = $(ADEPT_RMSDK)/lib/ios/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME) $(ADEPT_RMSDK)/thirdparty/openssl/public/ios/lib $(ADEPT_RMSDK)/thirdparty/curl/public/ios/lib

ADEPT_CONNECTOR_INCLUDES = $(ADEPT_RMSDK)/dp/public $(ADEPT_RMSDK)/drm/adept/public $(ADEPT_RMSDK)/xml/uft/public $(ADEPT_RMSDK)/xml/mdom/public $(ADEPT_RMSDK)/xml/xpath/public


HEADER_SEARCH_PATHS[arch=arm64] = /usr/include/libxml2   $(SRCROOT)/include  $(ADEPT_CONNECTOR_INCLUDES)  $(LIBCURL_HEADER_SEARCH_PATH64)
HEADER_SEARCH_PATHS[arch=x86_64] = /usr/include/libxml2   $(SRCROOT)/include  $(ADEPT_CONNECTOR_INCLUDES)  $(LIBCURL_HEADER_SEARCH_PATH64)
HEADER_SEARCH_PATHS[arch=i386] = /usr/include/libxml2   $(SRCROOT)/include  $(ADEPT_CONNECTOR_INCLUDES)  $(LIBCURL_HEADER_SEARCH_PATH32)
HEADER_SEARCH_PATHS[arch=armv7] = /usr/include/libxml2   $(SRCROOT)/include  $(ADEPT_CONNECTOR_INCLUDES)  $(LIBCURL_HEADER_SEARCH_PATH32)
HEADER_SEARCH_PATHS[arch=armv7s] = /usr/include/libxml2   $(SRCROOT)/include  $(ADEPT_CONNECTOR_INCLUDES)  $(LIBCURL_HEADER_SEARCH_PATH32)
