//*************************************************************************
// ADOBE CONFIDENTIAL
// ___________________
//
//  Copyright 2015 Adobe Systems Incorporated
//  All Rights Reserved.
//
// NOTICE:  All information contained herein is, and remains
// the property of Adobe Systems Incorporated and its suppliers,
// if any.  The intellectual and technical concepts contained
// herein are proprietary to Adobe Systems Incorporated and its
// suppliers and are protected by trade secret or copyright law.
// Dissemination of this information or reproduction of this material
// is strictly forbidden unless prior written permission is obtained
// from Adobe Systems Incorporated.
//**************************************************************************

UFT_DEFINITIONS = UFT_MEMORY_DEBUG=0 UFT_ATOM_COMPILE_TIME USING_MAC_SDK_VERSION_10_5_OR_ABOVE

CONNECTOR_DEFINITIONS = FEATURE_DRM_CONNECTOR

// MACRO below are used by SDKLauncher
// "../../" will take you to the <RMSDK-ROOT> folder in case of SDKLauncher

ADEPT_CONNECTOR_LAUNCHER_LIBRARY_SEARCH_PATHS = ../../lib/ios/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME) ../../thirdparty/openssl/public/ios/lib ../../thirdparty/curl/public/ios/lib

ADEPT_CONNECTOR_LAUNCHER_INCLUDES = ../../dp/public ../../drm/adept/public ../../xml/uft/public ../../xml/mdom/public ../../xml/xpath/public


ADEPT_CONNECTOR_LIB_FLAGS = -lhobbes-iOS -lcts-iOS -lt3-iOS -ldatacollector-iOS -lpng-iOS -lfonts-iOS -lhyphen-iOS -ladept-iOS -lcrypt-openssl-iOS -ldp-iOS -lexpat-iOS -lxml-iOS -lzlib-iOS -lssl -lcrypto -lcurl





